body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: whitesmoke;
  }
  .calculator {
    background:white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }
  .display {
    width: 90%;
    height: 50px;
    margin-bottom: 15px;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    gap: 15px;
  }
  .buttons button {
    height: 60px;
    font-size: 18px;
    border:gray;
    border-radius: 10px;
    background-color: #d7d7d7;
    cursor: pointer;
    transition: background-color 0.8s;
  }
  .buttons button.operator {
    background-color: #ff9800;
    color: #fff;
  }
  .buttons button.equals {
    background-color: #4caf50;
    color: #fff;
  }
  .buttons button.clear, .buttons button.ce {
    background-color: #f44336;
    color: #fff;
  }